<template name="options">
  <div class="content">
    <div class="row centered">
      <h4>Add an extractor:</h4>
      <div class="input-field col s6">
        <input class="name" id="extractorName" type="text"  />
        <label for="extractorName">Extractor's name</label>
      </div>
      <div class="input-field col s6">
        <input class="ip" id="extractorIp" type="text" />
        <label for="extractorIp">Extractor's ip</label>
      </div>
      <div class="row">
        <div class=" col s12">
          <a class="btn waves-effect waves-light blue darken-4" id="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
