<template name="options">
  <div class="content">
    <h3>User's options</h3>
    <div class="row centered">
      <div class="input-field col s6">
        <input id="extractorName" type="text"  />
        <label for="extractorName">Extractor's name</label>
      </div>
      <div class="input-field col s6">
        <input id="extractorIp" type="text" />
        <label for="extractorIp">Extractor's ip</label>
      </div>
    </div>
    <div class="row centered">
      <a class="button">  kjkj</a>
    </div>

  </div>

</template>
