/* CSS declarations go here */

html{
  background: white;
}

.nav-wrapper{
  background: #1581c7;
}
.entrance {
  background: white;
}

.table-container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
}

h2{
  padding-bottom: 30px;
}

.toast{
  background-color: #e6651d;
}

.content{
  background: white;
  height: 100%;
  width: 100%;
}




.btn{
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 200px;
}
.centered {
  margin: 15% auto;
  background: white;
  width: 60%;
  color: black;

}

.hidden {
  visibility: collapse;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.select{
  display: block;
  width: 400px;
  min-height: 200px;
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
