<template name="project">
  {{> notifications}}
  <h2>Faites votre boulot içi ;-)</h2>
  {{test}}
  <div class="row">
    <div class="col s8">
    <label>Frames</label>
    <select id="listFrame" class="browser-default">
      <option>select a frame</option>
      <option>544</option>
      <option >1152</option>
      <option>1575</option>
    </select>
  </div>
  <div class="col s4" >
    <ul class="tabs" id="XMLTab">
    </ul>
  </div>
  <form class="col s4 offset-s8" id="XMLForm">
  </form>
</div>
<a href="/" class="btn waves-effect waves-light blue darken-4">Exit</a>
</template>
