<template name="project">
{{> notifications}}

{{test}}
<div id = "container">
          <div id="second">
            <div class="col s4" >
            <ul class="tabs" id="XMLTab">
            </ul>
          </div>
          <div class="row center-align">
            <div class="col s8">
            <label>Frames</label>
            <select id="listFrame" class="browser-default">
              <option>select a frame</option>
              <option>544</option>
              <option >1152</option>
              <option>1575</option>
            </select>
          </div>

          <form class="col s4 offset-s8" id="XMLForm">
          </form>
          </div>
        </div>
          <div id="third">{{> videoPlayer}}</div>
</div>

</template>
