<template name="project">
  {{> notifications}}
  <div id="contianer">
    <div class="row">
      <div id="third" class="col s10">
        {{> videoPlayer}}
      </div>
      <div id="second" class="col s2">
        <div class="row">
          <label>Frames</label>
          <select id="listFrame" class="browser-default">
            <option>select a frame</option>
            <option>544</option>
            <option >1152</option>
            <option>1575</option>
          </select>
        </div>
        <div class="row">
          <ul class="tabs" id="XMLTab">
          </ul>
        </div>
        <div class="row">
          <form id="XMLForm">
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
